.formulario-con-sombra{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #005187;
    width: 420px;
    height: 580px;
    
    

}
.formulario-con-sombra2{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    width: 800px;
    height: 650px;
    margin: auto;
    
}
.boton{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    background-color: gray;
    width: 80px;
}
.input{
    border-radius: 5px;
}