@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titillium+Web:ital@1&display=swap');

body{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
}

.desplegable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Para ocupar toda la altura del contenedor */
}
.desplegable{
    background: #023E8A 
    ;
}
.barras{
    display: none;
}
ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}
nav a{
    font-family: Poppins;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}
li a{
    padding: 10px;
    display: block;
    text-align: left;
}
ul li a:hover{
    background: #0096C7   ;
}

@media (max-width: 850px){
    .barras{
        background-color: #023E8A;
        display: block;
    }
    .desplegable{

        transform: translate(-100%);
        transition: 0.5s;
        font-size: 1.5rem;
        width: 50%;
        background: rgba(30, 30, 30, 0.5);
        backdrop-filter: blur(2px);
    }
    i{
        font-size: 30px;
        background: #023E8A;
        color: white;
    }
    li a{
        padding: 20px 0px 20px 20px;
        display: block;
        text-align: left;
    }
    ul{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    button{
        margin: 10px 10px 10px 20px;
        border: none;
    }
    .boton_menu{
        background-color: #023E8A;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        background-position:center;
    }
  
    .abrir_menu{
        background: rgba(30, 30, 30, 0.6);
        backdrop-filter: blur(2px);
        transform: translate(0%);
        width: 50%;
        transition: 0.5s;
    }
 
    .colocar_x{
        background-color: #1e1e1e;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        background-position:center;
    }
    .icono {
        font-size: 24px; /* Tamaño del icono, ajusta según sea necesario */
        color: #ffffff; /* Color por defecto del icono */
    }
    
    .icono.colocar_x {
        color: #ff0000; /* Cambia a rojo cuando el menú está abierto */
    }
    
}

